footer {
    background-color: #eabde6;
    font-family: Belleza, sans-serif;
    padding: 0.7rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer h1 {
    font-weight: bold;
    font-size: 1.6rem;
}

#contactInfo {
    display: flex;
    flex-direction: column;
}