header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    font-family: Belleza, sans-serif;
    color: #737373;
    font-weight: bold;
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: 1.2rem;
}

nav:hover, label:hover {
    cursor: pointer;
}

header > p {
    background-color: #eabde6;
    color: #737373;
    font-family: Belleza, sans-serif;
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
    width: 100vw;
}

header img {
    width: 12.5vw;
    height: auto;
    margin: 1rem;
}

header ul {
    margin-top: 0.5rem;
    display: none;
    position: absolute;
    height: 100%;
    top: 1.6rem;
    background-color: white;
    padding: 0 0.8rem;
    text-align: left;
    width: max-content;
}

li {
    margin: 0.5rem 0;
}

header span::after {
    font-family: Times, serif;
    content: "▾";
}

.dropDown {
    display: flex;
    flex-direction: column;
    position: relative;
}

.active {
    text-decoration: underline black;
    color: black;
}