.shopItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #737373;
    width: 20vw;
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
    margin: 0 auto;
    padding: 2%;
}